server:
  port: 8080

spring:
  application:
    name: berlinspringboot

  config:
    import: optional:file:app.env[.properties]

  datasource:
    password: berlin
    url: jdbc:postgresql://localhost:5432/berlin
    username: berlin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  liquibase:
    enabled: true
    drop-first: false
    change-log: classpath:db.changelog/db.changelog-master.xml
    default-schema: public
jwt-properties:
            app:
             jwtSecret: berlinSecretKey
             jwtExpirationMs: 86400000
